@page "/cluster/{ClusterId}"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Lists
@using ViewModels;

<h1>Cluster: @ClusterName</h1>

<br />

@if (Topics == null)
{
    <h2>Loading...</h2>
}
else
{
    <SfTreeView TValue="INode">
        <TreeViewFieldsSettings TValue="INode" DataSource="@KafkaClusters"
                                Id="Name"
                                Text="Name"
                                Expanded="Expanded"
                                HasChildren="HasChildren"
                                Child="Children">
        </TreeViewFieldsSettings>
    </SfTreeView>
}
