@page "/home"

@using KafkaLens.Client.DataAccess

@inject HttpClient Http

<h3>Kafka Clusters</h3>

<ul>
    @foreach (var cluster in clusters.Values)
    {
        var pagePath = "/cluster/" + cluster.Id;
        <li>
            <NavLink href="@pagePath">@cluster.Name</NavLink>
            <a @onclick="() => RemoveClusterAsync(cluster.Id)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remove</a>
        </li>
    }
</ul>

<input placeholder="Cluster Name" @bind="clusterName" />
<input placeholder="Bootstrap Servers" @bind="kafkaUrl" />
<button @onclick="AddClusterAsync">Add Cluster</button>
