<div class="top-row pl-4 navbar navbar-dark">
    <a href="https://github.com/fatichar/KafkaLens">
        <img class="navbar-brand" src="icon-64.png" alt="Kafka Lens" />
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="clusters" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> All Clusters
            </NavLink>
        </li>
    </ul>
</div>
