<div class="top-row pl-4 navbar navbar-light">
    <a href="https://github.com/fatichar/KafkaLens">
        <img src="icon-64.png" alt="Kafka Lens" />
    </a>
</div>

@if (Clusters?.Values != null)
{
    <div class="clr-col-4">
        <Tree>
            <TreeTemplate TData="INode" Data="@Clusters.Values" GetChildren="@GetChildren" ExpandBy="Expanded">
                <TitleTemplate>
                    <button class="clr-treenode-link" @onclick="() => SelectedNode = context">
                        @context.Name
                    </button>
                </TitleTemplate>
            </TreeTemplate>
        </Tree>
    </div>
}
