@if (Clusters?.Values != null)
{
    <Tree>
        <TreeTemplate TData="INode" Data="@Clusters.Values" GetChildren="@GetChildren" ExpandBy="Expanded">
            <TitleTemplate>
                <button class="clr-treenode-link" @onclick="() => SelectedNode = context">
                    @context.Name
                </button>
            </TitleTemplate>
        </TreeTemplate>
    </Tree>

}

@code
{
    private const string selectedItemClass = "clr-treenode-link";
    private const string defaultItemClass = "clr-treenode-link";
    private string treeItemClass = "clr-treenode-link";
}